<% provide(:title, @title) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
			<span><%= link_to "view my profile", @user %></span>
			<span><b>Posts:</b> <%= @user.posts.count %></span>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="span8">
		<h3><%= @title %></h3>
		<% if @users.any? %>
			<ul class="users">
				<%= render @users %>
			</ul>
			<%= will_paginate %>
		<% end %>
	</div>
</div>