<% provide(:title, "#{@user.first_name} #{@user.last_name}") %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @user.first_name %> <%= @user.last_name %>
			</h1>
			<p> 
				<%= @user.school %><br>
				<%= @user.email %><br>
			</p>
		</section>
	</aside>
	<div class="span8">
		<% if @user.posts.any? %>
			<h3>Posts (<%= @user.posts.count %>)</h3>
			<ol class="posts">
				<%= render @posts %>
			</ol>
			<%= will_paginate @posts %>
		<% end %>
	</div>	
</div>