<% provide(:title, "#{@project.project_title}") %>
<h1><%= @project.project_title %></h1>

<div class="row">
		
	<div class="hero-unit">
		<h2>Description: </h2>
		<p><%= @project.description %></p>

	</div> 
	<div class="hero-unit">
		<p><strong>Problem:</strong><br><%= @project.problem %></p>
		<p><strong>Solution:</strong><br><%= @project.solution %></p>
		<p><strong>Status:</strong><br><%= @project.status %></p>
	</div>
</div>